
*{
    margin: 0;
    padding: 0;
}


body{
    margin: 30px;
}
.encabezado{
    text-align: center;
    margin: 30px;
}


#resultado{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: auto;
    gap: 20px;
    margin: 100px;
}



@media (max-width: 1024px) {
    #resultado{
        grid-template-columns: repeat(2, 1fr); 
        margin: 50px;
    }
}

@media (max-width: 768px) {
    #resultado{
        grid-template-columns: 1fr; 
        margin: 30px;
    }
}


@media (max-width: 480px) {
    body {
        margin: 10px; 
    }

    .encabezado {
        margin: 20px; 
    }

    #resultado {
        margin: 20px; 
    }
}
